// Chubb colors

$chubb-blue: #150F96;
$sky-gray: #F4F4F4;
$light-gray: #AFAFAF;
$dark-gray: #4B4E53;
$white: #FFFFFF;
$purple: #6E27C5;
$dark-green: #056605;
$turquoise: #01C1D6;

// Status colors

$success: #7ACB00;
$alert: #FFB617;
$error: #E41913;
$info: #2972E0;