@import '../../../assets/css/theme.scss';

.advanced-search {
    font-size: 14px;
    color: $chubb-blue;

    &:hover {
        cursor: pointer;
    }
}

.snackbar {
    width: auto;
    padding: 16px;
    border: 1px solid $dark-green;
    margin: 16px;
}

.snackbar-refer {
    width: auto;
    padding: 16px;
    border: 1px solid $chubb-blue;
    margin: 16px;
}

.snackbar-error {
    width: auto;
    padding: 16px;
    border: 1px solid $error;
    margin: 16px;
}

.snackbar-alert {
    width: auto;
    padding: 16px;
    border: 1px solid $alert;
    margin: 16px;
}